<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mini3DCad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Test3D.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mini3DCad.Properties.Settings>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BaseDataFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="GenreName" serializeAs="String">
                <value />
            </setting>
            <setting name="CategoryName" serializeAs="String">
                <value />
            </setting>
            <setting name="DataName" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectCategoryWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectCategoryHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectCategoryTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectCategoryLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackupFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DiffTool" serializeAs="String">
                <value />
            </setting>
        </Mini3DCad.Properties.Settings>
        <Test3D.Properties.Settings>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BaseDataFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="GenreName" serializeAs="String">
                <value />
            </setting>
            <setting name="CategoryName" serializeAs="String">
                <value />
            </setting>
            <setting name="DataName" serializeAs="String">
                <value />
            </setting>
        </Test3D.Properties.Settings>
    </userSettings>
</configuration>